.menu {
	width: 40vh;
   
   
    position: absolute;
    right: 1vh;
}

.header {
	 width: -webkit-fill-available;
	 padding:5px;
	 background: #232329;
}

.menu h1 {
	text-align: center;
    color: white;	
	font-family: Roboto;
}


.list-item {
	width: -webkit-fill-available;
    background: rgb(0,0,0,0.5);
    padding: 5px;
    font-size: 24px;
    color: white;
    font-family: 'Roboto';
    text-align: center;
	border-bottom: 1px solid #565656;
}

.list-item-header {
	width: -webkit-fill-available;
   background: #35353e;
    padding: 5px;
    font-size: 24px;
    color: white;
    font-family: 'Roboto';
    text-align: center;
	border-bottom: 1px solid #565656;
}

.list-item span, .list-item-header span { float:left; }

.selected {
	background: #35353e;
}


.inputs {
	display:none;
	position: relative;
    top: 30vh;
    margin: auto;
    width: 40vh;
    background: #232329;
    color: white;
    padding: 10px;
    font-family: 'Roboto';
    text-align: center;
    border-radius: .2vh;
}

.inputs input {
	width: -webkit-fill-available;
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Roboto';
    border-radius: 0px;
    background: #444444;
    border: 0px;
    color: #c7c7c7;
	margin-bottom:15px;
}

.inputs input:focus	 {
  border: 0px;
}

.ss {
	display:none;
	position: relative;
    top: 0vh;
    margin: auto;
    width: 140vh;
    background: #232329;
    color: white;
    padding: 10px;
    z-index: 1000;
    font-family: 'Roboto';
    text-align: center;
    border-radius: .2vh;
}

.ss img {    width: -webkit-fill-available; max-width:130vh;}

.snackbar {
	width: auto;
    background: #232329;
    position: absolute;
    padding: 12px;
    min-width: 30vh;
    right: 5vh;
    bottom: -10vh;
	transition: 2s;
    color: white;
    font-family: 'Roboto';
    border-radius: 4px;
}

body { overflow:hidden; }

.Announcement {
	display:none;
	width: 50%;
    background: white;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin: auto;
    padding: 9px;
    border-radius: 10px;
    overflow: hidden;
}